/* src/components/Pricing.css */
.pricing-section {
  padding: 50px 20px;
  /* background: #ffffff; */
  text-align: center;
}

.pricing-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #fff8f8;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.pricing-plan {
  background: linear-gradient(195deg, #ff3d3d,#242525);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 300px;
  color: white;
  transition: transform 0.3s, background 0.3s;
  text-align: justify;
}

.pricing-plan:hover {
  background: linear-gradient(235deg, #d88080, #85e9ec);
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.pricing-plan p {
  font-size: 1rem;
  margin: 10px 0;
}

.pricing-button {
  background-color: #cf3535;
  border: none;
  color: #e7e1e1;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 140px; 
  margin-left: 100px;
  
}
  .pricing-free button {
  margin-top: 240px; 
}
.pricing-button:hover {
  background-color: #f3a19e;
  color: #ffffff;
}
